<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add</h5>
            </div>
            <div class="modal-body">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="Colleges" href="#addInfoCL">Colleges</option>
                    <option value="Courses" href="#addInfoCR">Courses</option>
                    <option value="Students" href="#addInfoCL">Students</option>
                </select>
                <div class="row ms-auto mt-2">
                    {% include 'Add.html' %}
                </div>
            </div>
            <div class="modal-footer">
                <form class="content me-auto">
                <p>Click outside the box to close</p> 
                </form>                           
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>