{% extends 'SSIS.html' %}

{% block head %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="content mb-2">
            <h1>Edit Student</h1>
            <form method ="POST">
                {{ form.hidden_tag() }}
                {{ form.id.label(class="form-label") }}
                {{ form.id(class="form-control", value=name_to_update.id) }}
                <br/>
                <br/>
                {{ form.hidden_tag() }}
                {{ form.fname.label(class="form-label") }}
                {{ form.fname(class="form-control", value=name_to_update.fname) }}
                <br/>
                <br/>
                {{ form.hidden_tag() }}
                {{ form.lname.label(class="form-label") }}
                {{ form.lname(class="form-control", value=name_to_update.lname) }}
                <br/>
                <br/>
                {{ form.hidden_tag() }}
                {{ form.cour.label(class="form-label") }}
                {{ form.cour(class="form-control", value=name_to_update.cour) }}
                <br/>
                <br/>
                {{ form.hidden_tag() }}
                {{ form.yr.label(class="form-label") }}
                {{ form.yr(class="form-control", value=name_to_update.yr) }}
                <br/>
                <br/>
                {{ form.hidden_tag() }}
                {{ form.gender.label(class="form-label") }}
                {{ form.gender(class="form-control", value=name_to_update.gender) }}
                <br/>
                {{ form.submit(class="btn btn-success") }}
                <br/>
            </form>
        </div>
    </div>
    <a type="button" class="btn btn-danger" href="{{ url_for('student') }}">Cancel</a>
{% endblock %}