{% extends 'SSIS.html' %}

{% block body %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="content mb-2">
            <h1>Edit College</h1>
            <form action="/colleges/update/{{ uid }}" method ="POST">
                {{ form.hidden_tag() }}
                {{ form.id.label(class="form-label") }}
                {{ form.id(class="form-control", value=name_to_update[0], placeholder="e.g. CCS, CASS, CON") }}
                <br/>
                <br/>
                {{ form.hidden_tag() }}
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control", value=name_to_update[1], placeholder="e.g. College of Computer Studies") }}
                <div class="row container-fluid">
                    <div class="col-8">
                        <br/>
                        {{ form.submit(class="btn btn-success") }}
                        <br/>
                    </div>
                    <div class="col-4">
                        <div class="float-end">
                            <br/>
                            <a type="button" class="btn btn-danger" href="{{ url_for('college') }}">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
{% endblock %}