{% extends 'SSIS.html' %}

{% block head %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
<div class="content">
    <h2>Colleges</h2>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <table class="table table-hover table-bordered mt-2 align-middle align-middle">
            <tr class="table-secondary">
                <th>College Code</th>
                <th>College Name</th>
                <th></th>
            </tr>
            {% for colg in colgs %}
                <tr>
                    <td>{{ colg[0] }}</td>
                    <td>{{ colg[1] }}</td>
                    <td>
                        <div class="d-grid gap-2 col-6">
                            <a type="button" class="btn btn-warning btn-sm" href="{{url_for('college.updateCL', id=colg[0])}}">Update</a>
                            <a type="button" class="btn btn-danger btn-sm" href="{{url_for('college.deleteCL', id=colg[0])}}">Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}